{% extends "base.html" %}

{% block title %}Tạo Giải{% endblock %}

{% block sidebar %}
<button class="btn btn-secondary btn-block" onclick="window.location.href='/'">Trang chủ</button>
<button class="btn btn-secondary btn-block" onclick="window.location.href='/rule-change'">Chỉnh sửa luật giải</button>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Tạo Giải</h2>
    <form action="{{ url_for('add_season') }}" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="seasonName">Tên Giải Đấu</label>
                <input type="text" class="form-control" id="seasonName" name="season_name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="seasonLogo">Logo Giải</label>
                <input type="file" class="form-control-file" id="seasonLogo" name="profile_picture" required>
            </div>
        </div>
        <div class="form-group">
            <label for="seasonNote">Thông Tin Giải Đấu</label>
            <textarea class="form-control" id="seasonNote" name="note" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Xác Nhận</button>
    </form>
</div>
{% endblock %}
