{% extends "base.html" %}

{% block title %} Tra cứu cầu thủ {% endblock %}

{% block sidebar %}
{{ super() }}
<button class="btn btn-secondary btn-block" onclick="window.location.href='/'">Trang chủ</button>
<button class="btn btn-secondary btn-block" onclick="window.location.href='{{ url_for('view_season', season_id=season_id) }}'">Quay lại</button>
{% endblock %}
{% block content %}
    <div class="main-content" style="margin-left: 20px;">
        <form class="form-inline" method="GET">
            <input type="text" style="width: 500px;" class="form-control mr-sm-2" name="search" placeholder="Nhập tên cầu thủ...">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
        <div class="player-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th style="width: 400px; align-items: center;">Cầu Thủ</th>
                        <th style="width: 400px; align-items: center;">Đội</th>
                        <th style="width: 400px; align-items: center;">Loại Cầu Thủ</th>
                        <th style="width: 400px; align-items: center;">Tổng Số Bàn Thắng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr onclick="window.location.href='{{ url_for('search_player', season_id=season_id, player_id=player.id) }}'">
                        <td style="align-items: center;">{{ loop.index }}</td>
                        <td style="align-items: center;">{{ player.name }}</td>
                        <td style="align-items: center;">{{ player.team.name }}</td>
                        <td style="align-items: center;">{{ player.player_type }}</td>
                        <td style="align-items: center;">{{ player.total_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if details %}
        <b><div class="card-header" style="border: 2px solid black; background-color: gray; font-size: 20px;">
            Thông tin cầu thủ
        </div></b>
        <div class="card-body" style="border: 2px solid black; border-top: 0px;">
            <div class="player-details" id="player-details">
                <div class="row">
                    <div class="col-md-4">
                        {% if details.profile_picture %}
                            <img src="{{ url_for('static', filename=details.profile_picture) }}" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h3 style="font-size: 40px;">{{ details.name }}</h3>
                        <p style="font-size: 25px;"><strong>Đội tuyển: {{ details.team.name }}</strong></p>
                        <p style="font-size: 25px;"><strong>Loại cầu thủ: {{ details.player_type }}</strong></p>
                        <p style="font-size: 25px;"><strong>Ngày sinh: {{ details.birthday }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}