{% extends "base.html" %}

{% block title %}Tra Cứu Đội Tuyển{% endblock %}

{% block sidebar %}
    <button class="btn btn-secondary btn-block" onclick="window.location.href='/'">Trang chủ</button>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Tra Cứu Đội Tuyển</h2>

    <!-- Search Bar -->
    <div class="form-group">
        <form method="GET">
            <input type="text" name="search" class="form-control" id="searchInput" placeholder="Nhập tên đội tuyển để tìm kiếm">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    </div>
    <!-- Team List -->
    <h3 class="mt-4">Danh Sách Đội Tuyển Hiện Có</h3>
    <ul id="teamList" class="list-group">
        {% for team in teams %}
        <li class="list-group-item" style="background-color: #212529;border-color: #212529;">
            <a href="#" style="color: #ffffff;justify-content: space-between;">
                <img src="{{ url_for("static", filename=team.profile_picture) }}" class="square-img" alt="{{ team.name }}" style="width: 50px; height: 50px">
                {{ team.name }}
            </a>
        </li>
        <hr style="margin-top: 1px; margin-bottom: 1px;">
        {% endfor %}
    </ul>
</div>

<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        var input = this.value.toLowerCase();
        var items = document.querySelectorAll('#team-list li');
        items.forEach(function(item) {
            var name = item.querySelector('span').textContent.toLowerCase();
            if (name.includes(input)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    });
</script>

<style>
    .square-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
</style>
{% endblock %}
