{% extends "base.html" %}

{% block title %} Tra cứu cầu thủ {% endblock %}

{% block sidebar %}
{{ super() }}
<button class="btn btn-secondary btn-block" onclick="window.location.href='/'">Trang chủ</button>
{% endblock %}
{% block content %}
    <div class="main-content">
        <form class="form-inline" method="GET">
            <input type="text" class="form-control mr-sm-2" name="search" placeholder="Nhập tên cầu thủ...">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
        <div class="player-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th style="width: 400px;">Cầu Thủ</th>
                        <th style="width: 400px;">Đội</th>
                        <th>Loại Cầu Thủ</th>
                        <th>Tổng Số Bàn Thắng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.team.name }}</td>
                        <td>{{ player.player_type }}</td>
                        <td>{{ player.total_score }}</td>
                        <td><button class="btn btn-primary" onclick="window.location.href='{{ url_for('search_player', season_id=season_id, player_id=player.id) }}'">Chi tiết</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if details %}
        <div class="player-details" id="player-details">
            <div class="row">
                <div class="col-md-4">
                    {% if details.profile_picture %}
                        <img src="{{ url_for('static', filename=details.profile_picture) }}" class="card-img-top">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3>{{ details.name }}</h3>
                    <p><strong>Đội tuyển: {{ details.team.name }}</strong></p>
                    <p><strong>Loại cầu thủ: {{ details.player_type }}</strong></p>
                    <p><strong>Ngày sinh: {{ details.birthday }}</strong></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}