{% extends "base.html" %}

{% block title %}ĐĂNG KÝ THAM GIA GIẢI{% endblock %}

{% block sidebar %}
<button class="btn btn-secondary btn-block" onclick="window.location.href='/'">Trang chủ</button>
<button class="btn btn-secondary btn-block" onclick="window.location.href='{{ url_for('view_season', season_id=season_id) }}'">Quay lại</button>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Part 1: Team Information -->
    {% if match_result  %}
        <div class="alert alert-danger">
            Đã hết thời hạn đăng ký tham gia giải do mùa giải đã bắt đầu.
        </div>
    {% else %}
        <div class="card mb-4">
            <div class="card-header">
                Thông Tin Đội Bóng
            </div>
            <div class="card-body">
                <form id="team-form" action="{{ url_for('register_team', season_id=season_id) }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="season_id" value="{{ season_id }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="teamName">Tên Đội</label>
                            <input type="text" class="form-control" id="teamName" name="team_name" pattern="[\p{L}\s]+$" required>
                            <div class="invalid-feedback">
                                Tên đội chỉ có thể chứa chữ cái và không được để trống.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="teamStadium">Tên Sân Nhà</label>
                            <input type="text" class="form-control" id="teamStadium" name="team_stadium" required>
                            <div class="invalid-feedback">
                                Sân vận động không được để trống.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="teamLogo">Nhập logo đội bóng</label>
                            <input type="file" class="form-control-file" id="teamLogo" name="profile_picture" required>
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label>Logo đội bóng</label>
                            <div class="image-preview">
                                <img src="{{ url_for('static', filename='images/default_logo.png') }}" alt="Logo đội mặc định" style="width: 150px; height: 150px;" id="teamLogoPreview">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Part 2: Player Information -->
        <div class="card mb-4">
            <div class="card-header">
                Thêm Cầu Thủ
            </div>
            <div class="card-body">
                <div class="player-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="playerName">Tên Cầu Thủ</label>
                            <input type="text" class="form-control" id="playerName" pattern="[\p{L}\s]+$" required>
                            <div class="invalid-feedback">
                                Tên cầu thủ chỉ có thể chứa chữ cái và không được để trống.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="playerType">Loại Cầu Thủ</label>
                            <select class="form-control" id="playerType" required>
                                <option value="Trong nước">Trong nước</option>
                                <option value="Nước ngoài">Nước ngoài</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="playerBirthday">Ngày Sinh</label>
                            <input type="date" class="form-control" id="playerBirthday" required>
                            <div class="invalid-feedback">
                                Ngày sinh không được để trống.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="playerNote">Ghi Chú</label>
                            <input type="text" class="form-control" id="playerNote">
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label>Nhập ảnh cầu thủ</label>
                            <input type="file" class="form-control-file" id="playerProfilePicture" name="player_profile_picture" required>
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label>Ảnh đại diện</label>
                            <div class="image-preview">
                                <img src="{{ url_for('static', filename='images/default_player.png') }}" alt="Ảnh đại diện mặc định" style="width: 150px; height: 150px;" id="playerProfilePicturePreview">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" onclick="addPlayer()">Thêm Cầu Thủ</button>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" onclick="confirmRegistration()">Xác Nhận Đăng Ký Đội</button>
        <!-- Players List Section -->
        <div class="card mb-4">
            <div class="card-header">
                Danh Sách Cầu Thủ Đội
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                <table id="playerListTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ảnh đại diện</th>
                            <th scope="col">Tên cầu thủ</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Loại cầu thủ</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Players will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Xác Nhận Đăng Ký</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn đăng ký đội bóng này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>

<style>
    .is-invalid {
        border-color: #dc3545; /* Red border */
    }
    .invalid-feedback {
        display: none;
        color: #dc3545; /* Red text */
    }
    .is-invalid ~ .invalid-feedback {
        display: block;
    }
</style>


<script>
    function validateForm() {
        let isValid = true;

        const minPlayers = {{ minimum_players }};
        const maxPlayers = {{ maximum_players }};
        const teamName = document.getElementById('teamName');
        const teamStadium = document.getElementById('teamStadium');
        const teamProfilePicture = document.getElementById('teamLogo').files[0]; // Assuming the profile picture is uploaded using the 'teamLogo' input field

        // Validate team name
        if (!teamName.value.trim() || !/^[\p{L}\s]+$/u.test(teamName.value.trim())) {
            teamName.classList.add('is-invalid');
            isValid = false;
        } else {
            teamName.classList.remove('is-invalid');
        }

        // Validate team stadium
        if (!teamStadium.value.trim()) {
            teamStadium.classList.add('is-invalid');
            isValid = false;
        } else {
            teamStadium.classList.remove('is-invalid');
        }

        // Validate player information
        const playerRows = document.querySelectorAll('#playerListTable tbody tr');
        if (playerRows.length === 0) {
            alert('Danh sách cầu thủ không được để trống.');
            isValid = false;
        }

        if (playerRows.length > maxPlayers) {
            alert(`Số lượng cầu thủ trong đội vượt quá quy định. (Tối đa ${maxPlayers})`);
            isValid = false;
        }

        if (playerRows.length < minPlayers && playerRows.length !== 0) {
            alert(`Số lượng cầu thủ trong đội chưa đủ so với quy định. (Tối thiểu ${minPlayers})`);
            isValid = false;
        }

        // If any validation fails, prevent form submission
        if (!isValid) {
            return false;
        }

        // If everything is valid, proceed with the form submission
        return true;
    }

    // Event listeners to remove error classes when the user starts typing or changes the input
    document.getElementById('teamName').addEventListener('input', function() {
        this.classList.remove('is-invalid');
    });

    document.getElementById('teamStadium').addEventListener('input', function() {
        this.classList.remove('is-invalid');
    });

    // Event listener for the form submit button
    document.getElementById('team-form').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault();
        }
    });

    function confirmRegistration() {
        if (!validateForm()) {
            alert('Vui lòng sửa các lỗi trong biểu mẫu trước khi xác nhận.');
            return;
        }

        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        document.getElementById('team-form').submit();
    }

    document.addEventListener('DOMContentLoaded', function() {
        const teamLogoPreview = document.getElementById('teamLogoPreview');
        const defaultLogoPath = "{{ url_for('static', filename='images/default_logo.png') }}";

        // Set the default logo when the page loads
        teamLogoPreview.src = defaultLogoPath;
    });
    document.getElementById('teamLogo').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                teamLogoPreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            // Revert to the default logo if no file is selected
            teamLogoPreview.src = defaultLogoPath;
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        const playerProfilePicturePreview = document.getElementById('playerProfilePicturePreview');
       const defaultPlayerPicturePath = "{{ url_for('static', filename='images/default_player.png') }}";

       // Set the default player picture when the page loads
       playerProfilePicturePreview.src = defaultPlayerPicturePath;
    });

    document.getElementById('playerProfilePicture').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                playerProfilePicturePreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            const playerProfilePicturePreview = document.getElementById('playerProfilePicturePreview');
            const defaultPlayerPicturePath = "{{ url_for('static', filename='images/default_player.png') }}";

            // Revert to the default player picture if no file is selected
            playerProfilePicturePreview.src = defaultPlayerPicturePath;
        }
    });

    let rowCounter = 0

    function addPlayer() {
        const maxForeignPlayers = {{ max_foreign_players }};
        const minAge = {{ minimum_age }};
        const maxAge = {{ maximum_age }};
        const defaultImagePath = "{{ url_for('static', filename='images/default_player.png') }}";
        const playerName = document.getElementById('playerName');
        const playerType = document.getElementById('playerType');
        const playerBirthday = document.getElementById('playerBirthday');
        const playerNote = document.getElementById('playerNote');
        const playerProfilePicture = document.getElementById('playerProfilePicture').files[0];

        if (!playerName.value.trim()||!playerBirthday.value||!/^[\p{L}\s]+$/u.test(playerName.value.trim())) {
            if (!playerBirthday.value) {
                playerBirthday.classList.add('is-invalid');
            }
            if (!playerName.value.trim() || !/^[\p{L}\s]+$/u.test(playerName.value.trim())){
                playerName.classList.add('is-invalid');
            }
            return;
        }

        const currentForeignPlayers = Array.from(document.querySelectorAll('#playerListTable tbody tr td:nth-child(4)')).filter(td => td.textContent.trim() === 'Nước ngoài').length;
        if (playerType.value === 'Nước ngoài' && currentForeignPlayers >= maxForeignPlayers) {
            alert(`Số lượng cầu thủ nước ngoài vượt quá quy định. (Tối đa ${maxForeignPlayers})`);
            return;
        }

        const birthDate = new Date(playerBirthday.value);
        const today = new Date();
        var age = today.getFullYear() - birthDate.getFullYear();
        const monthDifference = today.getMonth() - birthDate.getMonth();

        // Adjust age if the birthday hasn't occurred yet this year
        if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
           age--;
        }
        // Validate age
        if (age < minAge || age > maxAge) {
            if (age > maxAge){
                alert(`Độ tuổi cầu thủ vượt quá quy định. (Tối đa ${maxAge})`);
            }
            if (age < minAge){
                alert(`Độ tuổi cầu thủ chưa đủ so với quy định. (Tối thiểu ${minAge})`);
            }
            return;
        }

        const formattedBirthday = new Date(playerBirthday.value).toLocaleDateString('vi-VN');

        const table = document.getElementById('playerListTable').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();

        const profileCell = newRow.insertCell(0);
        const nameCell = newRow.insertCell(1);
        const birthdayCell = newRow.insertCell(2);
        const typeCell = newRow.insertCell(3);
        const actionCell = newRow.insertCell(4);

        rowCounter++; // Increment counter for unique ID
        const uniqueId = rowCounter;

        if (playerProfilePicture) {
            const reader = new FileReader();
            reader.onload = function(e) {
                profileCell.innerHTML = `<img src="${e.target.result}" class="img-thumbnail" style="width: 50px; height: 50px;">`;
            };
            reader.readAsDataURL(playerProfilePicture);
        } else {
            profileCell.innerHTML = 'N/A';
        }

        nameCell.textContent = playerName.value;
        birthdayCell.textContent = formattedBirthday;
        typeCell.textContent = playerType.value;

        const removeButton = document.createElement('button');
        removeButton.className = 'btn btn-danger btn-sm';
        removeButton.textContent = 'Xóa';
        removeButton.onclick = function() {
            const form = document.getElementById('team-form');
            const hiddenInputs = form.querySelectorAll(`input[data-row-id="${uniqueId}"]`);
            console.log('test:', uniqueId);
            hiddenInputs.forEach(input => form.removeChild(input));
            table.deleteRow(newRow.rowIndex - 1);
        };
        actionCell.appendChild(removeButton);

        // Add hidden inputs to the form
        const form = document.getElementById('team-form');
        form.appendChild(createHiddenInput('player_name[]', playerName.value, uniqueId));
        form.appendChild(createHiddenInput('player_type[]', playerType.value, uniqueId));
        form.appendChild(createHiddenInput('player_birthday[]', playerBirthday.value, uniqueId));
        form.appendChild(createHiddenInput('player_note[]', playerNote.value, uniqueId));
        if (playerProfilePicture) {
            form.appendChild(createHiddenInput('player_profile_picture[]', playerProfilePicture.name, newRow.rowIndex));
        } else {
            form.appendChild(createHiddenInput('player_profile_picture[]', 'default_player.png', newRow.rowIndex));
        }

        // Reset player form fields
        document.getElementById('playerName').value = '';
        document.getElementById('playerType').value = 'Trong nước';
        document.getElementById('playerBirthday').value = '';
        document.getElementById('playerNote').value = '';
        document.getElementById('playerProfilePicturePreview').src = defaultImagePath;
        document.getElementById('playerProfilePicture').value = '';
    }

    // Event listeners to remove error classes when the user starts typing or changes the input
    document.getElementById('playerName').addEventListener('input', function() {
        this.classList.remove('is-invalid');
    });

    document.getElementById('playerBirthday').addEventListener('input', function() {
        this.classList.remove('is-invalid');
    });

    function createHiddenInput(name, value, rowId) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = value;
        input.setAttribute('data-row-id', rowId); // Add data attribute to identify the row
        return input;
    }
</script>
{% endblock %}
